<%inherit file="base.html"/>
<%def name="head()">
<script>
    % if not permit.match(current_user.username, '/admin/param/update'):
        $(document).ready(function (){
            $("input").each(function() {
                $(this).attr("readonly", 'readonly');
            })
            $("textarea").each(function() {
                $(this).attr("readonly", 'readonly');
            })
            $("#submit").hide();
        });
    % endif
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</%def>
<%def name="body()">
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <i class="fa fa-cog"></i>
            <h3 class="box-title">系统参数管理</h3>
        </div>
        <div class="box-body">
            <div class="container">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="${active=='syscfg' and 'active' or '' }">
                        <a href="#syscfg" aria-controls="syscfg" role="tab" data-toggle="tab">管理设置</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane ${active=='syscfg' and 'active' or '' }" id="syscfg">
                        <form class="form-horizontal form-well" role="form" action="${sys_form.action}" method="post">
                            ${xsrf_form_html()}
                            ${sys_form.render_css()}
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
    </section>
</%def>